In [27]:
# %load_ext autoreload
%autoreload 2

import sys

import numpy as np
import pandas as pd

sys.path.append("../modules")
from load_switrs import get_switrs_df
from highways import get_last_exit

In [34]:
df = get_switrs_df()
df.head(10)

,Case_ID,Jurisdiction,Officer_ID,Reporting_District,CHP_Shift,Population,County_City_Location,Special_Condition,Beat_Type,CHP_Beat_Type,...,Process_Date,Collision_Year,Collision_Month,Collision_Day,Collision_DayOfWeek,Collision_Hour,Collision_Minute,Collision_Hours,Collision_Minutes,Postmile_Code
0,2715171,9252,14755,None,2,9,3400,0,1,2,...,2006-11-01,2006,6,28,2,17,2,17.033333,1022.0,L0.75
1,2715231,9252,13560,None,2,9,3400,0,1,2,...,2006-11-13,2006,7,1,5,14,55,14.916667,895.0,R7.62
2,2715262,9252,14699,None,1,7,3404,0,1,2,...,2006-10-27,2006,6,26,0,9,55,9.916667,595.0,L1.01
3,2726805,9252,14977,None,2,7,3404,0,1,2,...,2006-11-01,2006,6,28,2,17,50,17.833333,1070.0,L0.7
4,2726822,9252,14512,None,2,7,3404,0,1,2,...,2006-11-01,2006,6,29,3,19,15,19.250000,1155.0,R4.65
5,2726830,9252,14512,None,2,9,3400,0,1,3,...,2006-11-01,2006,6,29,3,17,0,17.000000,1020.0,R16.01
6,2726833,9252,11681,None,1,9,3400,0,1,2,...,2006-11-01,2006,6,28,2,13,15,13.250000,795.0,R8.81
7,2726861,9252,14512,None,2,7,3404,0,1,2,...,2006-11-01,2006,6,30,4,16,20,16.333333,980.0,R1.19
8,2728728,9252,11342,None,1,9,3400,0,1,2,...,2006-11-01,2006,6,14,2,7,35,7.583333,455.0,R5.518
9,2728755,9252,14787,None,2,9,3400,0,1,2,...,2006-11-01,2006,6,26,0,17,30,17.500000,1050.0,L0.79

In [35]:
cols = ['State_Route', 'Caltrans_County', 'Postmile_Code']
df_exit = df[cols]
df_exit.head()

   State_Route Caltrans_County Postmile_Code
0           50             SAC         L0.75
1           50             SAC         R7.62
2           50             SAC         L1.01
3           50             SAC          L0.7
4           50             SAC         R4.65

In [37]:
df['Last_Exit'] = df_exit.apply(get_last_exit, axis=1)

df[cols + ['Last_Exit']].head(30)

    State_Route Caltrans_County Postmile_Code Last_Exit
0            50             SAC         L0.75       04A
1            50             SAC         R7.62        11
2            50             SAC         L1.01       04A
3            50             SAC          L0.7       04A
4            50             SAC         R4.65        09
5            16             SAC        R16.01         0
6            50             SAC         R8.81        13
7            50             SAC         R1.19       06C
8            50             SAC        R5.518        11
9            50             SAC         L0.79       04A
10           50             SAC         R2.43       08A
11           50             SAC         L1.95        05
12           50             SAC        R7.991        13
13           50             SAC         L0.45       04A
14           50             SAC         R1.84       06C
15           50             SAC         R0.47       06C
16           50             SAC         R3.36       08B
17          160             SAC         L7.96         0
18           50             SAC         R2.71       08B
19           50             SAC          L1.6        05
20           50             SAC         L1.02       04A
21           50             SAC         R3.85        09
22           50             SAC         L0.74       04A
23           50             SAC         L0.74       04A
24           50             SAC         R1.66       06C
25           50             SAC         L2.19        05
26           50             SAC         R2.75       08B
27           50             SAC         L0.87       04A
28           50             SAC         L2.13        05
29           50             SAC        R7.509        11